html,
body {
  font-size: 20px;
  max-width: 100%;
  max-height: 100%;
  /* overflow-x: hidden; */
  /* /* overflow-y: hidden; */
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.home a:hover {
  color: white;
}

.navbar-brand {
  font-size: 2rem;
}

.carousel-root {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  /* max-height: 50%; */
}

/* .carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 10%;
} */

/* .carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
} */

.carousel .slide img {
  width: 15%;
}

.carousel-badge {
  color: red;
  font-size: 2rem;
  padding-bottom: 1rem;
}

/* .carousel .carousel-status {
  display: none;
} */

/* .carousel .slide .legend {
  font-size: 4rem;
  opacity: 0%;
} */

.front,
.back {
  width: 5rem;
  /* height: 6rem; */
}

.backStack {
  width: 4rem;
  /* height: 6rem; */
  position: absolute;
}

/* .affordableCard {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: greenyellow;
  opacity: 25%;
} */

.tapped {
  transform: rotate(90deg);
  /* margin-left: 1.5rem; */
  /* margin-right: 1.5rem; */
}

.badge {
  text-align: center;
  /* position: absolute; */
  /* bottom: 0.01rem; */
  /* width: 4rem; */
  /* height: 3.5rem; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* border-bottom-right-radius: 50%; */
  /* border-bottom-left-radius: 50%; */
  /* background-color: red; */
  color: red;
  font-size: 0.75rem;
}

.cpuHand,
.cpuField,
.playerHand,
.playerField {
  display: flex;
  justify-content: center;
}

.cpuHand,
.playerHand {
  min-width: 28rem;
}

.cpuField,
.playerField {
  /* max-width: 40rem; */
  margin: 1rem;
}

.cpuField,
.playerField {
  height: 7rem;
  /* max-width: 50rem; */
  border-style: solid;
  border-color: black;
}

.cpuDiscard,
.playerDiscard {
  /* background-image: url(../public/assets/trash.png); */
  /* background-repeat: no-repeat; */
  /* background-size: 2rem; */
  /* background-position: center; */
  position: absolute;
  /* border-style: solid; */
  /* border-color: red; */
  /* height: 5.5rem; */
  /* width: 4rem; */
}
