/* .App {
  text-align: center;
} */

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.start {
  font-size: 2em;
}

.health {
  color: red;
  font-size: 2em;
}

.turn, .mana, .health {
  text-align: center;
  margin-top: -3;
}

.front, .back {
  width: 10em;
}

.card {
  transition: transform .4s;
  transition-delay: .3s;
}

.affordable {
  border-style: solid;
  border-color: greenyellow;
}

.tapped {
  transform: rotate(90deg);
  margin-left: 5em;
  margin-right: 5em;
}

.zoom {
  cursor: pointer;
  z-index: 2;
  transform: scale(3);
}

.backStack {
  width: 10em;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
}

/* .sortable-chosen{
  box-shadow: 8px 8px 32px #E1E1E1;
}

.sortable-drag{
  opacity: 0;
} */

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "cpuDeck cpuHand cpuHand cpuHand cpuHand cpuHand cpuHand cpuHand cpuDiscard"
    ". . cpuField cpuField cpuField cpuField cpuField . ."
    ". . playerField playerField playerField playerField playerField . ."
    "playerDiscard playerHand playerHand playerHand playerHand playerHand playerHand playerHand playerDeck";
}

.playerHand { 
  grid-area: playerHand; 
  display: flex;
  justify-content: center;
}

.leftSortable, .rightSortable {
  display: flex;
}

.leftSortable { 
  /* border-style: solid; */
  /* border-color: red; */
  grid-area: playerHand; 
  justify-content: center;
  min-height: 14em;
  min-width: 10em;
}

.rightSortable { 
  /* border-style: solid;
  border-color: blue; */
  min-height: 14em;
  min-width: 10em;
}

.playerDeck { 
  grid-area: playerDeck; 
  border-style: solid;
  border-color: blue;
  height: 14em;
  width: 10em;
}

.playerDiscard { 
  background-image: url(../public/assets/trash.png);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: center;
  grid-area: playerDiscard; 
  border-style: solid;
  border-color: red;
  height: 14em;
  width: 10em;
}

.playerField { 
  grid-area: playerField; 
  border-style: solid;
  display: flex;
  justify-content: center;
}

.cpuField { 
  grid-area: cpuField; 
  border-style: solid;
  display: flex;
  justify-content: center;
}

.cpuField img {
  /* border-style: solid; */
  /* border-color: red; */
  animation: slam 1s;
}

.cpuHand { 
  grid-area: cpuHand; 
  display: flex;
  justify-content: center;
}

.cpuDeck { 
  grid-area: cpuDeck; 
  border-style: solid;
  border-color: black;
  position: relative;
  height: 14em;
  width: 10em;
}

.cpuDiscard {
  background-image: url(../public/assets/trash.png);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: center; 
  grid-area: cpuDiscard; 
  border-style: solid;
  border-color: black;
  height: 14em;
  width: 10em;
}

@keyframes slam
{
  0%
  {
    transform: scale(10, 10);
    opacity: 0;
  }
  
  40%
  {
    opacity: 0;
  }
  
  100%
  {
    transform: scale(1, 1);
    opacity: 1;
  }
}